@keyframes wheel {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

div#vis, div#ratwheel, div#armwheel {
  /*background: black;*/
  background-image: url("/images/wheel_small.png");
  margin: 0 0 0 0;
  width: 125px;
  height: 125px;
  background-size: cover;
  border-left: 45px solid transparent;
  border-right: 45px solid transparent;
  background-clip: content-box;
  animation-iteration-count: infinite;
  animation-name: wheel;
  animation-timing-function: linear;
}

input#rpm {
  margin: 2em 2em 5em 2em;
}

ol#rathistory li {
  margin-bottom: 5px;
}

.events {
  margin-top: 50px;
}

#ratwheel_speed, #armwheel_speed, #armwheel_likes, #ratwheel_likes {
  font-size: 40px;
}

.wheel {
  margin-top: 4em;
}

td {
  vertical-align: center;
  min-width: 100px;
}

.space {
  margin-right: 30px;
}

button {
  padding: 5px 10px 5px 10px;
  border: 0;
  cursor: pointer;
}

.green {
  background-color: #8bce8b;
}

.red {
  background-color: #c79090;
}