extends layout

block content
  h1= title
  p 
    | The wheel speed is currently connected to the 
    a(href="/api/simulator") simulator
    | , but you can manually adjust its speed and see the results in the 
    a(href="/api/live" target="_blank") live feed
    | . Fun!

  div(id="vis")
  select(name="deviceSelection" id="deviceSelection")
    option(value="ratwheel") Ratwheel
    option(value="armwheel") Armwheel
  
  input(type="number" id="rpm" value="10") 
  span rpm

  h2 Rat History
  p
    | Our latest rat records are live-loaded from our 
    a(href="/api/history") history
    | .
  ol(id="rathistory")

  script(src="/javascripts/wheel.js")