extends layout

block content
  h1= title
  p 
    | Welcome to the wheel simulator! You can hop on, adjust, and hop off the virtual wheel. See the results in the 
    a(href="/api/live" target="_blank") live feed
    | . Fun!

  div(id="vis")
  select(name="deviceSelection" id="deviceSelection")
    option(value="ratwheel") Ratwheel
    option(value="armwheel") Armwheel
  
  input(type="number" id="rpm" value="0" disabled) 
  span rpm
  span(class="space")
  button(id="controlButton" class="green") Start Session

  h2 Rat History
  p
    | Our latest rat records are live-loaded from our 
    a(href="/api/history") history
    | .
  ol(id="rathistory")

  script(src="/javascripts/wheel.js")